code/disease.m
code/matlab_workspace.mat
code/CircleOfLife3d.asv
code/sample.avi
code/CircleOfLife3d.m.BACKUP.2032.m
code/CircleOfLife3d.m.BACKUP.6120.m
code/CircleOfLife3d.m.BACKUP.4668.m
code/CircleOfLife3d.m.BACKUP.6772.m
code/.metadata/
*.asv
code/CircleOfLifeWithClasses.m
code/addOrganism.m
code/addOrganismClasses.m
doc/latex/reportTemplate.toc
doc/latex/reportTemplate.synctex.gz
doc/latex/reportTemplate.pdf
doc/latex/reportTemplate.log
doc/latex/reportTemplate.aux
doc/latex/cover.log
doc/latex/ETHlogo-eps-converted-to.pdf
*.avi
doc/latex/Images/Thumbs.db
doc/latex/Images/circle5.gif